.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 200px;
}

.cat_name, .cat_age {
  border: 2px solid lightgray;
  font-size: 20px;
  color: grey;
}

.cat_age {
  text-align: center;
}

.head {
  font-size: 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.col {
  font-size: 22px;
  color: white;
  background-color: grey;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.cat_image {
  width: 100px;
  border-radius: 10px;
  transition: transform 1s;
}

.cat_image:hover {
  transform: scale(1.5);
}

.searchBox {
  border: 5px solid grey;
  height: 50px;
  width: 300px;
  font-size: 20px;
  border-radius: 10px;
}

.table, .search {
  margin-left: 100px;
  padding-top: 50px;
}
